<% provide(:title, 'About') %>
<% provide(:pageheading, "About Page") %>

	<div class="hero-unit">
    <div class="row topspace50">
      <div class="col-md-12">

          <p style="text-align: justify;">
            Our understanding of the impact of climate change on natural ecosystems is still limited. The science is
            clear that human induced climate change is a reality, and we are already seeing the impacts on human health,
            agricultural crops, and native species. However the direct and indirect impacts on natural ecosystems as less
            well understood, especially species interactions including beneficial (e.g. plant-pollinator, plant-mycorrhiza)
            and negative (e.g. plant-herbivore, plant-pathogen) interactions.
            Plants are primary producers that are important for both human and natural systems. The ability of plants to
            establish, grow and reproduce is largely determined by the climatic suitability, soils and biotic interactions.
            In good years with favourable climatic conditions plants may have wide flowering period with large volumes of fruits
            produced, while droughts and heatwaves may halt reproduction (with limited duration and intensity of flowering/fruiting)
            and even kill plants altering species abundance and distribution.
            Detailed observations of the spatial and temporal patterns of plant flowering and fruiting in natural ecosystems are
            urgently needed to inform our understanding of the impacts of climate change. We need your help to collect this important
            information. Get involved to make a difference!
          </p>
          <hr class="topspace50" />
          <p>HIE - <a href="http://www.westernsydney.edu.au/hie">http://www.westernsydney.edu.au/hie</a> </p>
          <p>Plant, animal, and interactions research theme - <a href="https://www.westernsydney.edu.au/hie/research/plants_animals_and_interactions">https://www.westernsydney.edu.au/hie/research/plants_animals_and_interactions</a></p>
          <p>Doctor Paul Rymer - <a href="https://www.westernsydney.edu.au/hie/people/researchers/doctor_paul_rymer">https://www.westernsydney.edu.au/hie/people/researchers/doctor_paul_rymer</a></p>

      </div>
    </div>
  </div>
