<% provide(:title, 'About') %>
<% provide(:pageheading, "About Page") %>

	<div class="center hero-unit">
    
    <div class="row topspace50">
    	<div class="col-md-6">
        <div class="col-md-12">
          Base App 3 About Page
        </div>
      </div>
    </div>
  </div>
	    