<% provide(:title, 'Contact') %>
<% provide(:pageheading, "Contact Page") %>

<div class="hero-unit">
  <div class="row topspace50">
    <div class="col-md-12">

      <p>For further information about the PEAS project, please contact Dr Paul Rymer (p.rymer@westernsydney.edu.au)</p>

    </div>
  </div>
</div>
