<% provide(:title, 'Contact') %>
<% provide(:pageheading, "Contact Page") %>

	<div class="center hero-unit">
    
    <div class="row topspace50">
    	<div class="col-md-6">
        <div class="col-md-12">
          Species Tracker Contact Page
        </div>
      </div>
    </div>
  </div>
	    