<% provide(:title, 'Home') %>
<% provide(:pageheading, "Species Tracker") %>

<% if user_signed_in? %>
	<div class="center hero-unit">
    
    <div class="row topspace50">
    	<div class="col-md-6">
        <div class="col-md-12">
          Welcome to Species Tracker
        </div>
      </div>
    </div>
  </div>
	    
<% else %>

  <div class="center hero-unit">
    
    <div class="row topspace50">
    	<div class="col-md-6">
        <div class="col-md-12">
          Welcome to Species Tracker
        </div>
      </div>
    	
      <div class="col-md-6">
        <div class="col-md-6 col-md-offset-2 topspace20">
          <%= link_to "Register", new_user_registration_path, class: "btn btn-large btn-block btn-primary" %>
        </div>
        <div class="col-md-6 col-md-offset-2 topspace20">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-large btn-block btn-default" %>
        </div>
      </div>
    </div>
  
  </div>

<% end %>