<% provide(:title, 'Superuser Only Page') %>
<% provide(:pageheading, "Superuser Only Page") %>

	<div class="center hero-unit">
    
    <div class="row topspace50">
    	<div class="col-md-6">
        <div class="col-md-12">
          Base App 3 Superuser Only Page
        </div>
      </div>
    </div>
  </div>
	    