<% provide(:title, 'User Only Page') %>
<% provide(:pageheading, "User Only Page") %>

	<div class="center hero-unit">
    
    <div class="row topspace50">
    	<div class="col-md-6">
        <div class="col-md-12">
          Base App 3 User Only Page
        </div>
      </div>
    </div>
  </div>
	    