<% content_for :page_scripts do %>
  <script>
    $('#sightings_table').DataTable({
      pagingType: "simple",
      responsive: false,
      bJQueryUI: false,
      "columnDefs": [
        { "orderable": false, "targets": [4, 5] }
      ]
    });
  </script>
  <script>
    var sightings_table;
    sightings_table = null;

    document.addEventListener("turbolinks:load", function() {
      return sightings_table = $('#sightings_table').DataTable();
    });

    document.addEventListener("turbolinks:before-cache", function() {
      if ($('#sightings_table_wrapper').length === 1) {
        return sightings_table.destroy();
      }
    });
  </script>
  <script>
      $('#sightings_table tr').click(function() {
      var href = $(this).find("a").attr("href");
      if(href) {
          window.location = href;
      }
    });
  </script>
<% end %>

<% provide(:title, 'Sightings') %>
<% provide(:pageheading, 'Sightings') %>

<% if @sightings.any? %>
	<div class="row topspace20 bottomspace">
	  <div class="col-xs-12">
      <%= link_to "View Map Mode", map_sightings_path, :class => "btn btn-block btn-link" %>
		</div>
	</div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= render 'sightings/sightings' %>
  </div>
</div>
