<% content_for :page_scripts do %>
  <script>
    $('#sightings').DataTable({
      pagingType: "simple",
      responsive: false,
      bJQueryUI: false
    });
  </script>
<% end %>

<% provide(:title, 'Sightings') %>
<% provide(:pageheading, 'Sightings') %>

<% if @sightings.any? %>
	<div class="row topspace20 bottomspace">
	  <div class="col-xs-12">
      <%= link_to "View Map Mode", map_sightings_path, :class => "btn btn-block btn-link" %>
		</div>
	</div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= render 'sightings/sightings' %>
  </div>
</div>
