# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# Ignore public assets
/public/system
/public/assets/**

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
