<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New User Registration</h1>
    <p>A new user has requested an account on Base App 3. Navigate to the admin area to either allow or deny this request.</p>
    
  </body>
</html>