<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Base App 3, <%= @user.firstname.capitalize %></h1>
    <p>
      You have successfully signed up. Use your email, <%= @user.email %> and password to log in.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>