<% if @species.any? %>
  <table class="table table-bordered table-striped table-hover display responsive no-wrap" id="species_table">
    <thead>
      <tr>
        <th>Genus</th>
        <th>Species</th>
        <th>Common Name</th>
        <th>View?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'species/species_table', collection: @species, as: :species %>
    </tbody>
  </table>

<% else %>
  <p>No Species found</p>
<% end %>
