<% content_for :page_scripts do %>
  <script>
    $('#species_table').DataTable({
      pagingType: "simple",
      responsive: false,
      bJQueryUI: false,
      "columnDefs": [
        { "orderable": false, "targets": 3 }
      ],
      "drawCallback": function( settings ) {
        $('#species_table tr').click(function() {
          var href = $(this).find("a").attr("href");
          if(href) {
              Turbolinks.visit(href);
          }
        });
      }
    });
  </script>

  <script>
    var species_table;
    species_table = null;

    document.addEventListener("turbolinks:load", function() {
      return species_table = $('#species_table').DataTable();
    });
    document.addEventListener("turbolinks:before-cache", function() {
      if ($('#species_table_wrapper').length === 1) {
        return species_table.destroy();
      }
    });
  </script>
<% end %>

<% provide(:title, 'Species') %>
<% provide(:pageheading, 'Available Species') %>

<div class="row">
  <div class="col-xs-12">
    <%= render 'species/species' %>
  </div>
</div>
