<% provide(:title, 'Edit Research Site') %>
<% provide(:pageheading, 'Edit Research Site '+@site.id.to_s) %>

<div class="row">
  <div class="col-xs-12">
    <%= render 'sites/sites_form', button_text: "Update" %>
  </div>
</div>